.removeProductButton {
    height: 40px;
    width: 100%;
    color: white;
    background-color: #D0021B;
    border: 1px solid #D0021B;
    border-radius: 8px;
    cursor: pointer;
}

.removeProductImage{
    height: 20px;
}

.removeProductText{
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    padding: 0 0 0 10px;
}