.validCartButton {
    height: 40px;
    width: 100%;
    color: white;
    background-color: #FF6600;
    border: 1px solid #FF6600;
    border-radius: 8px;
    cursor: pointer;
}

.validCartImage{
    height: 20px;
}

.validCartText{
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    padding: 0 0 0 10px;
}