@import "./variables.scss";

.container {
  display: flex;
  justify-content: center;
  margin-top: -100px;

  .container-sections {
    width: 45%;

    &.big {
      width: 65%;
    }
  
    &.little {
      width: 25%;
    }
  }

  .section {
    height: min-content;
    margin: 10px;
    padding: 20px;
    background-color: $light-color;
    box-shadow: 0 5px 45px 0 rgba(4, 45, 58, 0.1);
    border-radius: 5px;
  }
}

.popin-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 200px;
  z-index: 1;
  background-color: rgba(4, 30, 58, 0.3);
}

.link {
  color: $link-color;
  text-decoration: underline;
}