@import "./variables.scss";

.container {
  display: flex;
  justify-content: center;
  margin-top: -100px;
}

.link {
  color: $link-color;
  text-decoration: underline;
}

.alert {
  color: $alert-color;
}