@import "./variables.scss";

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
  	margin: 0;
  	padding: 0;
	z-index: 1;
	font-size: 14px;
	font-family: "Noto Serif", serif;
	color: $dark-color;
	background: $light-color;
}

#root {
  position: relative;
  height: 100%;
}

main {
  	min-height: calc(100% - 50px - 202px);
}

h1 {
	font-size: 50px;
	line-height: 50px;
	font-weight: normal;

	text-transform: uppercase;
	color: $dark-primary-color;
	margin: 0;

	@media screen and (max-width: $mobile-max-screen) {
		font-size: 25px;
		line-height: 25px;
	}
}

h2 {
	font-size: 26px;
	font-weight: normal;

	text-transform: uppercase;
	color: $dark-primary-color;
	margin: 0;
}

h4 {
	font-size: 20px;
	font-weight: bold;
	margin: 30px 0 0 0;
}

a {
	text-decoration: none;
	color: $light-color;

	&.disabled {
		cursor: default;

		&:hover {
			color: $light-color;
		}
	}

	&:hover {
		color: $light-primary-color;
	}

	&.active {
		color: $light-primary-color;
	}
}

p {
	margin: 10px 0;
}

button {
	padding: 5px 15px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;

	background: none;
	border: 2px solid $primary-color;
	color: $light-color;

	&:hover {
		background-color: rgba($light-color, 0.1);
	}
}

img {
	outline: none;
}
