@import "./variables.scss";

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: $normal-font;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: $color-font;
  background-color: $background-color;
}

button {
  height: 40px;
  padding: 0 20px;
  border-radius: 5px;
  color: $light-color;
  border: none;
  box-shadow: 0 5px 10px 0 rgba(6, 214, 160, 0.25);
  background-color: $secondary-color;
  cursor: pointer;
}

button:disabled {
  cursor: auto;
}

a {
  color: $light-color;
  text-decoration: none;
}

h2 {
  display: inline;
  margin: 0;
  font-weight: normal;
}

input {
  display: block;
  padding: 15px 20px;
  border-radius: 5px;
  border: solid 1px rgba(4, 30, 58, 0.1);
  background-color: #ffffff;

  &.alert {
    border: solid 1px $alert-color;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $alert-color;
      opacity: 1; /* Firefox */
    }
    
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $alert-color;
    }
    
    &::-ms-input-placeholder { /* Microsoft Edge */
      color: $alert-color;
    }
  }
}

video {
  width: 100%;
  border-radius: 4px;
}