$light-color: #ffffff;
$dark-color: #000000;
$background-color: #f1f4f9;

$primary-color: #3d3bf3;
$dark-primary-color: #2b2aac;

$secondary-color: #06d6a0;

$link-color: #3d3bf3;
$alert-color: #ef476f;

$big-font: 24px;
$normal-font: 12px;
$little-font: 10px;
$color-font: #041e3a;