html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

main {
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
}

.section-left{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;

  background:#F7F7F7;
  min-height: 100%;
  width: 20%;

  padding: 0;
  box-shadow: 5px 0 10px #888888;
}

.section-right{
  position: absolute;
  left: 20%;
  top: 0;
  z-index: 0;

  background:#FFFFFF;
  height: 100%;
  width: 80%;

  overflow: auto;
}

.sub-section-row {
  display: flex;
  flex-direction: row;
}

.sub-section-left{
  /*background:#AAAAFF;*/
  width: 45%;
}

.sub-section-center{
  /*background:#AAFFAA;*/
  width: 10%;
}

.sub-section-right{
  /*background:#FFAAAA;*/
  width: 45%;
}

label {
  margin: 0;
}

/*table tr td {
    border: 1px solid black;
}*/