@import "../../../styles/variables";

.section {
  height: min-content;
  width: 40%;
  margin: 10px;
  padding: 20px;
  background-color: $light-color;
  box-shadow: 0 5px 45px 0 rgba(4, 45, 58, 0.1);
  border-radius: 5px;
}

.section-title {
  margin: 20px 0;
  width: 40%;

  &.left {
    text-align: left;
    margin-right: 60%;
  }

  &.right {
    text-align: right;
    margin-left: 60%;
  }
}

.title {
  font-weight: bold;
  color: $primary-color;
}

.section-point {
  display: flex;
  align-items: center;

  .point {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    color: $light-color;
    border-radius: 50%;
    background-color: $secondary-color;
    box-shadow: 0 5px 10px 0 rgba(6, 214, 160, 0.25);
  }

  span {
    font-weight: bold;
  }
}