@import "../../../styles/variables";

.connexion-container {

  .connexion-title {
    margin: 20px 0;
  
    &.left {
      text-align: left;
    }
  
    &.right {
      text-align: right;
    }

    .title {
      font-weight: bold;
      color: $primary-color;
    }
  }
  
  .connexion-end {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  
    &.end {
      justify-content: flex-end;
    }
  }
  
  .connexion-point {
    display: flex;
    align-items: center;
    margin: 20px 0;
  
    .point {
      margin-right: 20px;
      min-width: 40px;
      min-height: 40px;
      line-height: 40px;
      text-align: center;
      font-weight: bold;
      color: $light-color;
      border-radius: 50%;
      background-color: $secondary-color;
      box-shadow: 0 5px 10px 0 rgba(6, 214, 160, 0.25);
    }
  
    span {
      font-weight: bold;
    }
  }
}