.productHeader {
    display: flex;
    flex-direction: row;
}

.productSolde {
    width: 100%;
    text-align: right;
}

/* Gestion du tableau */

.productTable {
    width: 100%;
    border-spacing: 0;
}

.productTable tr {
    height: 100px;
}

.productListTable > thead > tr{
    height: 50px;
    font-size: 18px;
    color: white;
    background-color: #0066FF;
}

.productListTable.cartTable > thead > tr{
    background-color: #FF6600;
}

.productListTable > tbody > tr:nth-child(odd) > td{
    background:#E6E6E6;
}

.productListTable > tbody > tr:nth-child(even) > td{
    background:#F7F7F7;
}

.productListTable.cartTable > tbody > .cartFinalLine {
    height: 50px;
}

.productListTable.cartTable > tbody > tr > .cartFinalColumn{
    background-color: #666666;
    color: white;
}

.cartSoldAlert {
    color: #D0021B;
}

.productAlert > td {
    color: #D0021B;
    background:#F0C9C9 !important;
}

.productAlert{
    font-weight: bold;
}

.productStatColumn {
    width: 7%;
}

/* Gestion des éléments particuliers */

.product-cartimage{
    display: block;
    height: 135px;
    width: 135px;
    margin: 10px auto;
}

.product-image{
    display: block;
    height: 85px;
    width: 85px;
    margin: 10px auto;
}

.product-view{
    display: block;
    height: 35px;
    width: 35px;
    margin: 10px auto;
    border-radius: 50%;
}

/* Gestion de la largeur des colonnes */

.product-100px-column{
    width: 100px;
}

.product-150px-column{
    width: 150px;
}

.product-20-column{
    width: 20%;
}

.product-9-column{
    width: 9%;
}

.product-5-column{
    width: 5%;
}

.product-dec{
    padding-left: 10px;
}

.product-center{
    text-align: center;
}