@import "../../../styles/variables.scss";

.help-point {
  display: flex;
  align-items: center;
  margin: 10px 0;

  .point {
    margin-right: 10px;
    min-width: 20px;
    min-height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    color: $light-color;
    border-radius: 50%;
    background-color: $primary-color;
  }

  span {
    font-weight: bold;
  }
}